.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../Assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked~.container_rotulo>.cabecalho_menu-hamburguer {
    background-image: url("../Assets/MenuAberto.png");
}

.container_botao:checked~.container_rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* ele libera a opção de você botar outros atributos como top, left, right, bottom */
}

.container {
    display: flex;
    align-items: center;
}

.container_img {
    padding: 1em;
}

.container_botao {
    display: none;
}

.container_botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu {
    display: none;
    position: absolute; /*ele permite que você movimente o seu elemento de acordo com outro que veio antes, ou que é o pai, que esteja a position diferente de static que é a padrão  */
    top: 100%;
    width: 60vw;
}

.lista-menu_item, .lista-menu_titulo {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
     text-transform: uppercase;
}

.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container_texto {
    display: none;
}

@media screen and (min-width: 1024px){
    .container_titulo, .container_titulo-negrito {
        font-family: var(--font-secundario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_img-transparente {
        display: none;
    }

    .container_menu-hamburguer {
        display: none;
    }

    .opcoes_botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes_botao {
        display: none;
    }

    .opcoes_botao:checked~.opcoes_rotulo>.opcoes_item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes_item {
        padding: 2em 1em;
    }

    .lista-menu_item {
        background: var(--azul-degrade);
    }

    .lista-menu_item:hover>.lista-menu_link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
    
    .container_texto {
        display: block;
    }
}